*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* font size */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
/* common style */
.orange-color{
    color: #FD6E0A;
}
.gray-1{
    color: #474747;
}
.gray-2{
    color: #181818;
}
.gary-3{
    color: #757575;
}
.btn{
    background-color: #FD6E0A;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0px auto;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
/* .dark-1{
    color: ;
} */
/* header */
header{
    background-color: #FFF8F3;
    /* padding:50px; */
    padding-top: 50px;
    background: url(../images/developer.png) , url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left , bottom right;
}
.banner-logo{
    font-size: 45px;
    font-weight: 900;
}
/* nav */
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 2px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-style{
    color: #FD6E0A;
}
/* nav link */
nav ul{
    display: flex;
    align-items: center;
    gap: 50px;
}
.nav-link ul li{
    list-style: none;
   

}
.nav-link ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;

}

/* banner */
#hero{
    /* border: 1px solid; */
    margin: 47px 38px 0px 223px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-content{
    max-width:  585px;
   margin-bottom: 13px;
}
.hero-content h2{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom:13px ;
}
.hero-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;

}
.hero-content p{
    font-size: 18px;
    color: #757575;
    line-height: 35px;
}
 #hero .hero-image img{
    max-width: 585px;
    vertical-align: middle;
}
/* about */
#about {
    /* border: 1px solid black; */
    margin-top: 113px;
}
.about-container{
    margin: 0px auto;
    max-width: 1140px;
    text-align: center;
    padding: 131px 156px;
    background-color: #FFF8F3;
    
    
    
}
.about-info{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.about-info .info-card p{
    color: #757575;
    font-size: 18px;
    line-height: 30px;
}
.about-info .info-card h4{
    font-size: 20px;
}
#skills{
    padding-top: 130px;
}
.skills-container{
    max-width: 1140px;
    margin: 0px auto;
}
.skill-box{
    display: flex;
    gap: 24px;
}
.skill-card{
    padding: 30px;
    /* border: 1px solid red; */
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000054;

}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 20px ;
    margin-bottom: 20px;
    color: #181818;
}
.skill-card p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;

}