*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* font size */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
/* common style */
.orange-color{
    color: #FD6E0A;
}
.gray-1{
    color: #474747;
}
.gray-2{
    color: #181818;
}
.gary-3{
    color: #757575;
}
.btn{
    background-color: #FD6E0A;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}
/* .dark-1{
    color: ;
} */
/* header */
header{
    background-color: #FFF8F3;
    padding:50px;
}
.banner-logo{
    font-size: 45px;
    font-weight: 900;
}
/* nav */
nav{
    width: 71%;
    max-width: 1140px;
    border: 2px solid red;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-style{
    color: #FD6E0A;
}
/* nav link */
nav ul{
    display: flex;
    align-items: center;
    gap: 50px;
}
.nav-link ul li{
    list-style: none;
   

}
.nav-link ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;

}
